################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Slime-MP/.vs/Slime-MP
/Slime-MP/Slime-MP/obj
